@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #695cfe;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

#root {
  background: url(./assests/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

/* loader  */
.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 5;
  height: 100%;
  display: grid;
  place-items: center;
}

svg {
  stroke-dasharray: 269.7405090332031px;
  stroke-dashoffset: 0;
  animation: heartBeat 1.2s ease-in-out infinite;
  transform: rotate(-90deg);
  width: 90px;
}

@keyframes heartBeat {
  from {
    stroke-dashoffset: 269.7405090332031px;
  }

  to {
    stroke-dashoffset: -269.7405090332031px;
  }
}


/* Header */
.appHeader {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  width: 100%;
  height: 105px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}

.appHeader__LogoContainer {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #156ab4;
  outline: none;
  border: none;
}

.appHeader__Logo {
  width: 40px;
}

.appHeader__StoreName {
  font-size: 25px;
  font-weight: 700;

}

.appHeader__StoreText {
  font-size: 22px;
  font-weight: 600;
}

.hamMenuClick {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  display: none;
}

.hamMenuClick:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.userProfilecontainer {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigateToButton {
  width: 100px;
  padding: 0.5em;
  font-size: 18px;
  background-color: white;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.userProfileIcon {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: antiquewhite;
  color: tomato;
  transition: background, color .3s ease-in-out;
}

.searchIconButton {
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background, color .3s ease-in-out;
}

.userProfileIcon:hover,
.searchIconButton:hover {
  cursor: pointer;
  background-color: tomato;
  color: antiquewhite;
}

/* Search Product Container */
.ItemsearchContainer {
  background-image: url("https://www.elegantthemes.com/blog/wp-content/uploads/2021/12/woocommerce-product-search.png");
  position: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  right: 0;
  height: 100vh;
  overflow: hidden;
  transition: all .8s ease-in-out;
  animation: fadeIN .9s ease-in-out;
  z-index: 100;
}

@keyframes fadeIN {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.MessageText {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.searchInputContainer {
  border-radius: 50px;
  margin: 15px auto;
  width: 70%;
  position: relative;
}

#searchInputBar {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.5em 3em 0.5em 2.5em;
  border-radius: 50px;
  border: none;
  outline: none;
}

.closebuttonIcon {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0px;
  font-size: 30px;
  right: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  color: white;
  cursor: pointer;
}


.searchedProdcutContainer {
  backdrop-filter: blur(10px);
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  overflow-y: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.searchedProduct {
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 300px;
}

/* Navbar for WebView */
.webNavBarContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5em 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navItemContainer {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-decoration: none;
  width: 120px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all .6s ease-in-out;
  color: black;
}

.navItemContainer::before {
  position: absolute;
  top: 0px;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: #ecf7fb81;
  content: "";
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  display: none;
}

.navItemContainer:nth-child(1)::before {
  content: "Home";
}

.navItemContainer:nth-child(2)::before {
  content: "Mobile";
}

.navItemContainer:nth-child(3)::before {
  content: "Laptop";
}

.navItemContainer:nth-child(4)::before {
  content: "Camera";
}

.navItemContainer:nth-child(5)::before {
  content: "Headphone";
}

.navItemContainer:nth-child(6)::before {
  content: "Television";
}

.NavitemIcon {
  width: 35px;
}

.navItemContainer:hover::before {
  cursor: pointer;
  display: flex;
  animation: slideItemIN 0.6s ease-in-out;
}

.navItemContainer.active::before {
  display: flex;
  z-index: 2;
}

.navItemContainer.active:hover::before {
  animation: none;

}

@keyframes slideItemIN {
  from {
    top: 55px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }

}



/* User Login, admin login and registration form */
.formContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(./assests/formBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.gotoHomeLink {
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-align: none;
  text-align: center;
  width: 200px;
  padding: 0.4em;
  border-radius: 5px;
  background-color: #1d93fa;
}

.gotoHomeLink:hover {
  cursor: pointer;
  background-color: #1979cc;
}

.userForm {
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.432);
  width: 400px;
  animation: fadeIn 0.7s ease-in-out;
  transition: all 0.7s ease-in;
  opacity: 1;
  width: 400px;
  height: 530px;
}

.userLOGIN__form {
  height: 400px;
}

.adminLOGIN__form {
  height: 430px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.userForm--heading {
  border-bottom: 2px solid #06051460;
  text-align: center;
  padding: 0.5em;
  font-weight: 600;
}

.inputBox {
  width: 90%;
  margin: 10px auto 0px auto;
  height: 75px;
  position: relative;
}

.inputErrorMsg {
  margin: 5px 0px 0px 10px;
  font-weight: 700;
  font-style: italic;
  color: #ff2400;
  font-size: 14px;
}

.inputErrorMsg i {
  color: #ff2400;
  font-size: 16px;
  margin-left: 5px;
}

.inputFilelds {

  border: none;
  outline: none;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.inputFilelds::placeholder {
  font-weight: 500;
  font-size: initial;
  color: #f97316;
}

input[type="password"] {
  padding-right: 2.5em;
}

.showPassBtnIcon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 53%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-weight: 700;
}

.showPassBtnIcon:hover {
  cursor: pointer;
  color: tomato;
}

.userForm--Buttons {
  border: none;
  outline: none;
  display: block;
  width: 200px;
  margin: 10px auto 0px auto;
  font-size: 18px;
  padding: 0.4em;
  background-color: #1d93fa;
  border-radius: 5px;
  font-weight: 600;
}

.userForm--Buttons:hover {
  cursor: pointer;
  background-color: #33A0FF;
}

.navigateButton {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #ff2400;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.navigateButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.AllProductBox {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.homeProduct__titleText {
  text-align: center;
  color: #4f40fa;
  font-weight: 700;
  width: 95%;
  font-size: 18px;
}

.AllProductBox .homeProduct__InformationContainer {
  padding: 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.protectedAreaContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.171);
  z-index: 5;
}

.homeProduct__IconButton {
  position: absolute;
  border-bottom-right-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.616);
}

.homeProduct__DeleteIconButton {
  border-radius: 0;
  border-bottom-left-radius: 10px;
  left: 0;
}

.homeProduct__IconButton:hover {
  cursor: pointer;
  color: tomato;
}

.homeProduct__EditIconButton:hover {
  cursor: pointer;
  color: #5cb85c;
}

.protectedBox {
  position: absolute;
  top: 50%;
  width: 100%;
  gap: 10px;
  transform: translate(0%, -50%);
  padding: 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.protectedMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.protectedLOCkIcon {
  color: red;
  font-size: 90px;
}

.protectedButtonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 50px;
}

.protectedNavigateToBtn {
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  padding: 0.5em;
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  transition: background .5s ease-in-out;
}

.protectedNavigateToBtn:hover {
  cursor: pointer;
  background-color: #1d93fa;
  border: none;
}


.sliderContainer {
  margin-top: 15px;
  width: 100%;
  height: 375px;
  position: relative;
  overflow: hidden;

}

.sliderPoster {
  height: 100%;
  width: 100%;
}

.homeProduct__SliderContainers {
  margin: 10px 0px;
  width: 100%;
  height: 495px;
  position: relative;
  overflow: hidden;
}

.homeProduct__SliderContainers .loaderContainer {
  backdrop-filter: none;
}

.homeProduct__ContainersHeader {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.281);

}

.homeProduct__SliderBox {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  margin: 0px auto;
  scroll-behavior: smooth;
}

.sliderArrow {
  position: absolute;
  top: 35px;
  font-size: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1d93fa;
  border-radius: 5px;
  color: white;

}

.rightArrow {
  right: 5px;
}

.leftArrow {
  left: 5px;
}

.homeProduct {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  min-width: 265px;
  max-width: 265px;
  height: 325px;
  position: relative;
  margin: 0px 15px 0px 20px;
}


.homeProductCommpnIConButton {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-bottom-left-radius: 5px;
}

.wishListButton {
  top: 0;
}

.viewItemButton {
  top: 40px;
}

.homeProductCommpnIConButton:hover {
  cursor: pointer;
  color: tomato;
  background-color: #dee4ea46;
}

.homeProduct__discountPercentageText {
  font-weight: 700;
  font-size: 18px;
  color: #1d93fa;
}

.homeProductPosterContainer {
  border-radius: 10px;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}

.ProductPoster {
  border-radius: 10px;
  max-width: 150px;
  max-height: 150px;
  transition: all 0.4s ease-in-out;
}

.homeProduct__InformationContainer {
  width: 100%;
  height: calc(100% - 175px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.addToCartButton {
  border: 1px solid black;
  padding: 0.3em;
  background-color: transparent;
  outline: none;
  width: 70%;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}

.addToCartButton:hover {
  cursor: pointer;
  color: tomato;
}

.homeProduct:hover {
  background-color: #dee4ea46;
}

.homeProduct:hover .ProductPoster {
  transform: scale(0.9);
}

.commonProductContaienr {
  min-height: 70vh;
  position: relative;
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.commonProductContainer__ProductBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  grid-auto-rows: minmax(320px, 320px);
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 300px);
  padding: 1em;
  gap: 20px;
  min-height: 75vh;
}

.commonContainerProduct {
  margin: 0;
  width: 100%;
}

/* Dashboard Containers */

.dashboardHamMenuClick {
  position: absolute;
  z-index: 11;
  right: 10px;
  top: 5px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  background-color: white;
}

.dashboardContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  user-select: none;
}

.dashboard__sidebar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 100%;
  padding-top: 2em;
  color: #695cfe;
}

.UserName_initials {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0px auto;
  margin-bottom: 30px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #33A0FF;
}

.dashboard__sidebarItems {
  border-radius: 50px;
  color: #4f40fa;
  display: block;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0em 1em;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  justify-content: flex-start;
  gap: 10px;
}

.dashboard__sidebarItemsICON {
  font-size: 25px;
}

.dashboard__sidebarItems:hover {
  cursor: pointer;
  background-color: white;
  color: tomato;
}

.signoutButton {
  border: none;
  outline: none;
  width: 200px;
  padding: 0.5em;
  font-weight: 700;
  font-size: 18px;
  background-color: #695cfe;
  position: absolute;
  bottom: 20px;
  margin: 0px auto;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 20px;
}

.signoutButton:hover {
  cursor: pointer;
  background-color: #4f40fa;
}

.dashboard__sidebarItems.active {
  box-shadow: none;
  background-color: white;
  color: tomato;
}

.adminprofile {
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.adminprofile.active {
  background-color: transparent;
  color: #4f40fa;
}

.dashboard__Section {
  height: 100%;
  width: 100%;
}

.adminDashboard__adminProfileContainer {
  height: 100%;
}

.adminProfileContainer__heading {
  font-size: 1.7vw;
  border-bottom: 1px solid black;
  padding: 0.6em;
  text-align: center;
  color: #1979cc;
}

.admindashboard_cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.applicationCounterCards {
  width: 100%;
  min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 1em;
}

.admindashboard_cards {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.admindashboard_cardItemheading {
  font-size: 20px;
  font-weight: 600;
  color: #5cb85c;
}

.admindashboard_counter {
  font-size: 30px;
  font-weight: 700;
  color: #1d93fa;
}


.dashboard__Section_Headers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  color: #4f40fa;
}

.continueshopingButton {
  border: none;
  outline: none;
  width: 300px;
  padding: 0.3em;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
  background-color: #1979cc;
  color: white;
  text-transform: uppercase;
}

.continueshopingButton:hover {
  cursor: pointer;
  background-color: #156ab4;
}

.userProfile__UserBox {
  border: 2px solid red;
  width: 300px;
  height: 350px;
}

.outletContainer {
  background-image: url("./assests/dashboardBG.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: calc(100% - 300px);
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.admin__AllProductContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
  grid-auto-rows: minmax(290px, 290px);
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  user-select: none;
}

.addProduct__mainHeading {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #33A0FF;
  border-bottom: 1px solid rgba(128, 128, 128, 0.671);
  padding: 1em 0em;
}

.addProduct__FormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 1em;
}

.addProduct_formItemBox {
  border: 1px solid rgba(0, 0, 0, 0.089);
  width: 100%;
  width: 480px;
  min-height: 90px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 10px;
  border-radius: 5px;
  position: relative;
}

.calDiscountPriceButton {
  position: absolute;
  top: 5px;
  right: 25px;
  padding: 0.2em;
  width: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #4f40fa;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.generateIDButton {
  width: 150px;
  background-color: #1d93fa;
}

.addProduct_formItemBox_button {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.678);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewProduct_button {
  width: 300px;
  padding: 0.7em;
  background-color: #5cb85c;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  outline: none;
  user-select: none;
  font-size: 18px;
}

.addNewProduct_button:hover {
  cursor: pointer;
  background-color: #5ba75b;

}

.addProduct_formItem {
  background-color: white;
  width: 100%;
  height: 40px;
  padding: 0.6em;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  font-size: 16px;
}

.addProduct_formItem_Desc {
  resize: none;
  width: 100%;
  height: 240px;
  background-color: white;
  width: 100%;
  padding: 0.6em;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Filter COntainer */
.ProductfilterContainerButton {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: antiquewhite;
  cursor: pointer;
  display: none;
}

.commonProductContainer__filterContainer {
  padding-top: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: white;
  width: 300px;
  height: 100%;
}

.activeFilterBox {
  display: block;
}

.filterContainer__header {
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.5em 0em 1em;
  font-weight: 500;
}

.clearFilterButton {
  display: block;
  border: none;
  border-radius: 10px;
  width: 250px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 700;
  padding: 0.7em;
  background-color: #695cfe;
  color: white;

}

.clearFilterButton:hover {
  cursor: pointer;
  background-color: rgb(68, 56, 198)
}

.filterContainer__closeButton {
  font-size: 28px;
  width: 40px;
  height: 40px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: none;
}

.filterContainer__closeButton:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.filterContainer__FilterBox {
  width: 100%;
  min-height: calc(100% - 50px);
  gap: 10px;

}

.FilterOPTIONS__Heading {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.FilterBox__FilterOPTIONS {
  min-height: 300px;
  max-height: fit-content;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 1em;
}

.noProductFoundMsg {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.FilterOPTIONS__Items {
  margin: 10px auto 0px auto;
  border-radius: 5px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.459);
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: #1979cc;
  font-weight: 600;
}

.ratingFilterItems {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.FilterOPTIONS__Items:hover {
  cursor: pointer;
  background-color: #dee4ea46;
  border: none;
}



/* Confirmation Popup for Deleting the product */
.confirmationPopup_conainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.192);
  backdrop-filter: blur(10px);
  display: flex;
}

.ConfirmationPopup_box {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  margin: auto;
  width: 450px;
  height: 250px;
  border-radius: 10px;
}

.confirmationBox_heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  font-size: 18px;
  text-align: center;
  padding: 1em;
}

.confirmationButton_box {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.confirmationButtons {
  width: 150px;
  border: none;
  padding: 0.8em;
  font-size: 16px;
  border-radius: 5px;
  color: white;
}

.confirmationButtons:nth-child(1) {
  background-color: #ff2400;

}

.confirmationButtons:nth-child(2) {
  background-color: #5ba75b;
}

.confirmationButtons:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* singleProducView_Container */
.singleProducView_Container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 400px calc(100% - 425px);
  min-height: calc(100vh - 120px);
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.singleProductView_imageContainer {
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 620px;
}

.currentImageContainer {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.362);
}

.currentProductImage {
  max-width: 300px;
  max-height: 320px;
}

.otherImageContainer {
  width: 100%;
  height: calc(100% - 425px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 70px));
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 30px;
}

.otherImageBox {
  border: 1px solid rgba(0, 0, 0, 0.245);
  width: 100%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.otherProductImges {
  object-fit: contain;
  width: 60px;
  height: 50px;
  transition: all 0.2s ease-in;
}

.otherProductImges:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.singleProductView_detailsContainer {
  /* border: 2px solid red; */
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0.7em;
  user-select: none;
}

.singleProduct___title {
  font-size: 1.5vw;
  color: black;
  font-weight: 400;
  text-align: justify;
  width: 95%;
  margin-bottom: 20px;
}

.singleProduct__rating {
  margin-bottom: 20px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 0.5em;
  background-color: #388e3c;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.sinlgeProduct__ratingICON {
  font-size: 14px;
}

.singleProduct__priceInfoBox {
  height: 80px;
  display: flex;
  align-items: center;
}

.singleProduct__Dprice {
  margin-right: 15px;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.singleProduct__Aprice {
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
  color: darkgrey;
  text-decoration: line-through;
  margin-top: 8px;
}

.singleProduct__DiscountPercentage {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #388e3c;
  animation: HeartBeatAnimation 2s ease-out infinite;
  transition: all 2s ease-in;
  transform: scale(1);
}

.homeProduct__discountPercentageText {
  animation: HeartBeatAnimation 2s ease-out infinite;
  transition: all 2s ease-in;
  transform: scale(1);
}

@keyframes HeartBeatAnimation {

  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }

}

.singleProduct__addToCartButton {
  margin: 30px 0px;
  width: 250px;
  font-size: 18px;
  font-weight: 500;
  padding: 0.6em;
  border: none;
  outline: none;
  background-color: #5ba75b;
  border-radius: 50px;
  color: white;
}

.disabledAddTocartButton {
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}




.singleProduct__addTocartButtonICon {
  margin-right: 15px;
}

.singleProduct__addToCartButton:hover {
  cursor: pointer;
  background-color: #388e3c;
}

.disabledAddTocartButton:hover {
  cursor: not-allowed;
  background-color: #dc3545;
  color: white;
}

.singleProduct__description {
  margin: 5px 0px 10px 0x;
  font-weight: 300;
  font-size: 1.2vw;
  text-align: justify;
  width: 95%;
}

.singleProduct_descriptionLabel {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: darkgray;
}

/* Userdashbaord-- cart Page */
.cart__ItemContainer{
  width: 100%;
  height: 100%;
  position: relative;
}
.cartEmptyContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.cartEmptyContainer__Poster{
  width: 320px;
}

.cartEmptyContainer__text{
  font-size: 22px;
  font-weight: 600;
}

.cartEmptyContainer__shopNowButton{
  border: none;
  border-radius: 5px;
  color: white;
  width: 175px;
  padding: 0.6em;
  font-size: 18px;
  background-color: #156ab4;
  cursor: pointer;
}

.cartEmptyContainer__shopNowButton:hover{
  cursor: pointer;
  background-color: #0d5ca1;
}

@media screen and (max-width : 1024px) {
  .adminProfileContainer__heading {
    font-size: 3vw;
  }

  .singleProduct___title {
    font-size: 2vw;
  }

  .singleProduct__description {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 771px) {

  .webNavBarContainer,
  .userProfilecontainer {
    display: none;
  }

  .hamMenuClick {
    display: flex;
  }

  .commonProductContainer__filterContainer {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .filterContainer__closeButton {
    display: flex;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  .activeFilterBox {
    display: none;
  }

  .commonProductContainer__ProductBox {
    width: 100%;
    padding: 4em 0em;
  }

  .ProductfilterContainerButton {
    display: flex;
    z-index: 2;
  }

  .dashboard__sidebar {
    display: none;
  }

  .activeDashboard__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    display: block;
    z-index: 10;
  }

  .outletContainer {
    width: 100%;
  }

  .adminProfileContainer__heading {
    font-size: 4.5vw;
  }

  .singleProducView_Container {
    grid-template-columns: 100%;
  }

  .singleProductView_imageContainer {
    min-height: 420px;
  }

  .singleProductView_detailsContainer {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .singleProduct___title {
    font-size: 3.4vw;
  }

  .singleProduct__description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 650px) {
  .activeDashboard__sidebar {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .searchInputContainer {
    width: 98%;
  }

  .sliderContainer {
    height: 250px;
  }

  .singleProduct___title {
    font-size: 4vw;
  }

  .singleProduct__description {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 425px) {
  .appHeader {
    padding: 0em 0.5em;
  }

  .formContainer {
    padding: 0.5em 0em;
  }

  .userForm--heading {
    font-size: 20px;
  }

  .userForm {
    width: 95%;
  }

  #searchInputBar {
    padding: 0.5em 3em 0.5em 0.5em;
  }

  .protectedMessage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .protectedLOCkIcon {
    color: red;
    font-size: 50px;
  }

  .protectedButtonsContainer {
    gap: 5px;
  }

  .sliderContainer {
    height: 200px;
  }

  .commonProductContainer__filterContainer {
    width: 100%;
  }

  .generateIDButton {
    width: 100px;
    background-color: #1d93fa;
  }

  .adminProfileContainer__heading {
    font-size: 5.5vw;
  }

  .passwordUpdateCompo_container {
    width: 95%;
  }

  .updatePasswordButton {
    width: 80%;
  }

  .updateCompo_heading {
    font-size: 16px;
  }

  .activeDashboard__sidebar {
    width: 100%;
  }

  .homeProduct__ContainersHeader {
    font-size: 18px;
  }

  .singleProduct___title {
    font-size: 4.5vw;
  }

  .singleProduct__description {
    font-size: 3vw;
  }
}

@media screen and (max-width: 375px) {

  .singleProduct___title {
    font-size: 5vw;
  }

  .singleProduct__description {
    font-size: 4.5vw;
  }
}